<GeneralContainer>
  <div class="product item-details-page">
    <Product::Image @src={{this.imageName}}/>
    <Product::Details  @colors={{this.model.colors}}
            @color={{this.color}}
                      @changeColor={{this.changeColor}} />
  </div>

  <h5 class="mt-5">Features</h5>
  <ul>
      {{#each this.model.features as |item|}}
        <li>{{item}}</li>
      {{/each}}
  </ul>


</GeneralContainer>