<GeneralContainer>
  <div class="product item-details-page {{if this.zoomImage 'is-zoom'}}">
    <Product::Image @src={{this.imageName}}
                    @toggleZoom={{this.toggleZoom}}
    />
    <Product::Details
            @isDetails={{true}}
            @colors={{this.model.colors}}
            @color={{this.color}}
            @name={{this.model.name}}
            @price={{this.model.price}}
            @changeColor={{this.changeColor}} />
  </div>

  <h5 class="mt-5">Features</h5>
  <ul>
      {{#each this.model.features as |item|}}
        <li>{{item}}</li>
      {{/each}}
  </ul>

</GeneralContainer>